<!DOCTYPE html>
<html ng-app="app">
<head>
  <script src="../controllers/index.js" server></script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Admin</title>
  {%include "./commons/header.html"%}
</head>
<body class="hold-transition skin-blue sidebar-mini" ng-controller="app">
<div class="wrapper">

  <header class="main-header">
    <nav class="navbar navbar-static-top">
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
    {% include "./commons/right_navbar.html" %}
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
   {% include "./commons/sidebar.html" %}

 
  <div class="content-wrapper"  q-template url="{(getAppUrl())}/{{$root.page}}">
  
  </div>
 
 
 
  <div class="control-sidebar-bg"></div>
</div>
<script>
  var mdl=angular.module("app",["q-ui"]);
  mdl.controller("app",["$scope",function(scope){
    history_navigator(scope.$root);
    scope.$root.$history.change(function(data){
      if(data.page){
        scope.$root.page=data.page;
      }
      else {
        scope.$root.page="{(getAppUrl())}/pages/home";
      }
       
       scope.$root.$applyAsync()
    });
     
  }]);
</script>
</body>
</html>
