<script src="../../controllers/users.js" server></script>
<div>
    <input type="text" ng-model="test" ng-change="getItems()">
    <button ng-click="getItems()"></button>
{{data}}
<ajax url="{(getCurrentUrl())}" ws="myAjax">
    <call data-id="getItems" data-params="{{test}}" ng-model="data" data-function="getItems" data-callback="doTest"></call>
</ajax>
</div>
<script>
    (function(scope){
        scope.doTest=function(){
            alert("OK");
        }
        scope.getItems();

        // scope.getUser={
        //     name:1
        // }
        // scope.getItems=function(){
            
        //     scope.ws.callAll({id:"getItems",done:function(res){
        //         scope.data=res;
        //         scope.$applyAsync();
        //     }},{
        //         id:"getItems",
        //         done:function(res){
        //             scope.data=res;
        //             scope.$applyAsync();
        //         }
        //     });
        // }
        //scope.getItems();
    })
</script>